
.myCol1 h1{
text-align: center;
}
.myCol1 h2{
  text-align: center;
}
.myCol1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.myRow2{
  position: relative;
  top: 200px;
  left: 50px;
}
#crust_form{
  width: 300px;
}
#size_form{
  width: 300px;
}
#toppings_form{
  width: 300px;
}
#submit{
  position: relative;
  left: 550px;
  top: 250px;
}
.delivery{
  position: relative;
  left: 500px;
  top: 225px;
  font-size: large;
  font-weight: bold;
}
.table{
  display:none
}
.delivery{
  display: none;
}
#processButtons{
  display: none;
  position: relative;
  top: 500px;
}
#processOrder{
  float: right;
}
#completeOrder{
  float: right;
  display: none;
}
#add{
  display: none;
}
#totalCost{
  display: none;
}
#mainDelivery{
  display: none;
  position: relative;
  top: 450px;
  
}